@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Staatliches&display=swap');

:root {
  --color-primary: #575757;
  --color-dark: #272a31;
  --color-accent: #ec5242;
  --color-negative: #d3d3d3;
  --color-white: #fff;
  --ff-text: 'Lato', sans-serif;
  --ff-title: 'COCOGOOSE', sans-serif;
  --max-width: 75vw;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  font-family: var(--ff-text);
  margin: 0;
  padding: 0;
}

/* Top Bar Section */

#top-bar {
  background-color: var(--color-primary);
  height: 60px;
}

.speaker-info ul {
  display: flex;
  max-width: 95%;
}

.sponsor-logos ul {
  width: 100%;
  gap: 2.9vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#top-bar ul {
  display: flex;
  max-width: var(--max-width);
  justify-content: flex-end;
  margin: 0 auto;
  padding-top: 1.3vw;
  gap: 40px;
  text-align: left;
}

#top-bar a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1vw;
  font-weight: 700;
}

/* Nav Bar Section */

nav {
  max-width: var(--max-width);
  margin: 0 auto;
}

#nav-bar-main {
  display: flex;
  background-color: var(--color-white);
  height: 5vw;
  align-items: center;
}

#nav-bar-main #logo-img {
  max-width: 18vw;
}

#close,
#menu {
  display: none;
}

#index {
  display: none;
}

/* Li Sponsor Section */

.sponsor-logos {
  overflow: auto;
  padding-left: 1.5vw;
}

.sponsor-logos li {
  font-size: 7vw;
  text-align: center;
  margin: 2.4vw;
}

.sponsor-logos li:hover {
  color: var(--color-accent);
}

/* End of Li Sponsor section */

#nav-bar-links {
  text-align: right;
  width: 100%;
}

#nav-bar-links a {
  padding: 10px;
}

#nav-bar-main a {
  color: var(--color-primary);
  font-weight: 200;
  font-size: 1vw;
  text-decoration: none;
}

#nav-bar-links a:hover {
  font-weight: bolder;
  color: var(--color-accent);
}

#nav-bar-links a:active {
  font-weight: bolder;
  outline: 2px solid var(--color-accent);
  background-color: var(--color-accent);
  color: var(--color-white);
}

#nav-bar-main .menu-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10%;
  overflow: auto;
}

/* Land Page Section */
#land-page {
  background-image: url(../images/main_background.png);
  height: 55vw;
}

.land-page-container {
  max-width: var(--max-width);
  margin: 0 auto;
  height: 100%;
}

.land-page-container-text {
  max-width: 90%;
  margin-left: 2vw;
  height: 100%;
  line-height: 1;
  padding: 5vw 0;
}

.greetings {
  color: var(--color-accent);
  font-weight: bolder;
  font-size: 2.5vw;
  font-family: var(--ff-text);
}

h1 {
  font-size: 8vw;
  font-weight: 900;
  font-family: var(--ff-title);
}

#land-page-title {
  background-image: url(../images/main-title-background.jpg);
  color: var(--color-white);
  -webkit-text-fill-color: rgba(255, 31, 8, 0.6);
  -webkit-background-clip: text;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 1vw;
}

.land-page-text {
  font-family: var(--ff-text);
  color: var(--color-primary);
  font-size: 1.5vw;
  font-weight: bold;
  padding: 1vw 5vw 2vw 3vw;
  margin: 1vw 0 1.5vw 0;
  outline: 5px solid #fff;
  max-width: 70%;
  background-color: #fff;
  line-height: 1.3;
}

.when {
  font-family: var(--ff-title);
  color: var(--color-dark);
  font-size: 2vw;
  font-weight: 500;
  line-height: 3vw;
}

.place {
  font-size: 1.5vw;
  font-weight: 600;
  font-family: var(--ff-text);
  color: var(--color-primary);
}

/* Main Program Section */
#main-program {
  background-color: var(--color-dark);
  background-image: url(../images/bck-texture.png);
  background-repeat: repeat;
  background-size: 2rem 2rem;
  height: 40vw;
}

.main-program-container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 3vw;
}

.main-program-title {
  color: #fff;
  font-size: 2vw;
  text-align: center;
  margin-bottom: 1vw;
}

hr {
  margin: 1vw auto 3vw;
  height: 0.1vw;
  background-color: var(--color-accent);
  border: none;
  width: 6vw;
}

hr#separate {
  width: 100%;
  background-color: var(--color-primary);
}

.main-program-content {
  display: flex;
  gap: 12px;
  vertical-align: middle;
  line-height: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.overlay h3 {
  font-family: var(--ff-text);
}

.main-program-content h3 {
  color: var(--color-accent);
  font-size: 1.5vw;
  flex-direction: row;
  justify-content: center;
  font-weight: bolder;
}

.main-program-content i {
  color: white;
  height: 5vw;
}

.main-program-activity {
  font-size: 1.2vw;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 4vw 1vw;
  font-family: var(--ff-text);
  flex-direction: column;
  text-align: center;
  min-height: 7vw;
  width: 11.5vw;
}

.main-program-activity p {
  color: #fff;
}

.main-program-activity:hover {
  outline: 3px solid #fff;
}

#see-more {
  text-align: center;
  padding-top: 4vw;
}

#see-more-link {
  color: var(--color-white);
  font-weight: bold;
  font-size: 1.2vw;
}

#see-more-link:hover {
  color: var(--color-accent);
}

/* Speakers Section */

#speakers {
  display: flex;
}

#speaker-container {
  max-width: var(--max-width);
  margin: 5vw auto;
}

#speaker-title {
  font-size: 2vw;
  text-align: center;
  padding-bottom: 1vw;
}

ul#speaker {
  display: flex;
  flex-wrap: wrap;
}

li.speaker-info {
  display: flex;
  width: 50%;
  line-height: 1.5;
}

/* Footer Section */

.footer-logo img {
  width: 20vw;
}

.second-footer-logo img {
  width: 15vw;
  padding-top: 2vw;
  padding-right: 10vw;
}

/* End of Footer Section */

.cc-info img {
  width: 5vw;
}

.second-cc-info img {
  width: 5vw;
}

.speaker-info ul li img {
  width: 8vw;
}

.speaker-name {
  font-weight: bold;
  font-size: 1.5vw;
  padding-left: 1vw;
}

.speaker-job {
  color: var(--color-accent);
  font-weight: bolder;
  font-size: 0.9vw;
  padding-left: 1vw;
  font-style: italic;
}

.speaker-data {
  font-size: 0.8vw;
  color: var(--color-primary);
  font-weight: bold;
  padding-left: 0.9vw;
}

/* Sponsors Section */

#sponsors {
  background-color: #575757;
  color: #d3d3d3;
  height: 30vw;
}

.sponsor-container {
  max-width: 70%;
  margin: 0 auto;
}

.sponsors-title {
  color: #d3d3d3;
  font-family: var(--ff-text);
  font-size: 3vw;
  text-align: center;
  padding-top: 2vw;
}

/* Footer Section */

.footer-container {
  display: flex;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-top: 2vw;
  padding-bottom: 3vw;
  padding-left: 3vw;
  gap: 3.5vw;
}

.cc-info {
  font-size: 1.2vw;
  padding-top: 2vw;
  margin-left: 3vw;
}

/* About Section */

#about-land-page {
  background-image: url(../images/about-me-background1.png);
  background-size: cover;
  background-position: center;
  background-position-y: -6vw;
  background-position-x: 2vw;
  line-height: 2;
  background-color: whitesmoke;
  height: 45vw;
}

.about-land-page-container {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}

.about-land-page-container p {
  font-size: 1vw;
}

p#about-greetings {
  font-size: 3vw;
  color: var(--color-accent);
}

#about-land-page-title {
  text-align: center;
  color: var(--color-accent);
  font-size: 4vw;
}

#about-land-page-paragraph {
  background-color: var(--color-white);
  outline: 3px solid whitesmoke;
  max-width: 50vw;
  text-align: center;
  padding: 1.6vw;
  margin: 0 auto;
}

p.about-land-page-text {
  font-size: 1vw;
  color: var(--color-primary);
  font-weight: bolder;
  line-height: 1.5;
  text-align: center;
}

#about-info {
  height: 40vw;
  text-align: center;
  line-height: 2;
  padding-top: 2vw;
  padding-bottom: 100px;
}

#about-info-container {
  padding-top: 6vw;
  max-width: 80%;
  margin: 0 auto;
}

#about-info-second-title {
  color: #575757;
  font-size: 2vw;
}

.about-info-text {
  max-width: var(--max-width);
  font-size: 1.5vw;
}

#about-info-container img {
  width: 35vw;
}

.about-email {
  font-size: 1.5vw;
  color: #575757;
  font-weight: bolder;
}

#past-events {
  margin: 0 auto;
  height: 45vw;
}

#past-events-container {
  max-width: 70%;
  height: 50vw;
  text-align: center;
  line-height: 2;
  margin: 0 auto;
  padding-top: 5vw;
}

#past-events-container p {
  font-size: 3vw;
  font-size: 1.2vw;
}

.see-past-events {
  font-size: 2vw;
}

#events {
  display: flex;
  gap: 35px;
  margin: 0 2vw;
}

#events li {
  text-align: center;
}

#events li img {
  height: 70%;
}

/* Overlay Images Section */

.previous-world-summit {
  display: block;
  width: 100%;
}

.overlay {
  position: relative;
  background-color: rgba(236, 82, 66, 0.8);
  color: var(--color-white);
  inset: calc(-70%) 0 0 0;
  height: 70%;
  font-size: 2vw;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay:hover {
  display: none;
  height: 700px;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transform: scaleY(1);
}

/* About me Footer Section */

#second-copyright {
  background-color: var(--color-dark);
  height: 12vw;
  padding-left: 2vw;
}

.second-footer-container {
  display: flex;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-top: 2vw;
  justify-content: space-between;
  background-color: #272a31;
}

#mobile-cc-logo-black {
  display: none;
}

.second-cc-info {
  font-size: 1.5vw;
  color: var(--color-white);
}

#about-page #sponsors {
  display: none;
}
